@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash");
body {
  background-color: #000000;
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  color: #ff452a;
  font-size: 19px;
}

body .start {
  width: 100%;
  height: 100vh;
  background: url(../img/dungeonstart-bg.png) no-repeat fixed;
  background-size: cover;
}

body .lache {
  width: 100%;
  height: 100vh;
  background: url(../img/dungeonfail.png) no-repeat fixed;
  background-size: cover;
}

body .dungeon1 {
  width: 100%;
  height: 100vh;
  background: url(../img/dungeon1-bg.jpg) no-repeat fixed;
  background-size: cover;
}

body .dungeon2 {
  width: 100%;
  height: 100vh;
  background: url(../img/dungeon2-bg.jpg) no-repeat fixed;
  background-size: cover;
}

body .clignotement {
  animation-name: fadeIn;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate !important;
}

body .flottement {
  animation-name: flot;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate !important;
}

body .text-place {
  padding-top: 1vh;
}

body .text-place h1 {
  font-family: 'Berkshire Swash', cursive;
  color: #ff452a;
  font-size: 45px;
}

body .text-place a {
  font-family: 'Berkshire Swash', cursive;
  color: #ff452a;
  text-decoration: none;
  font-size: 40px;
}

body .text-place a:hover {
  color: #fffb46;
}

body .inline-block {
  display: inline-block;
}

body .hero {
  width: 30%;
}

body .hero img {
  width: 200px;
}

body .hero #warrior {
  width: 270px;
}

body .hero #paladin {
  width: 300px;
}

body .hero .chara {
  font-family: 'Berkshire Swash', cursive;
  font-size: 30px;
  color: #ff452a;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flot {
  from {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-20px, 29px, 0);
  }
  to {
    transform: translate3d(20px, 23px, 0);
  }
}

.img-hero {
  float: left;
  padding-left: 200px;
  padding-top: 50px;
}

.img-hero img {
  max-width: 250px;
}

input {
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Berkshire Swash', cursive;
  color: #ff452a;
  border-radius: 30px;
  background-color: #0b0b0b;
  border: none;
}

input:focus {
  outline: none;
}
