@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

body {
  background: url(../img/dungon1-bg.jpg) no-repeat fixed;
  background-size: cover;
  text-align: center;

  .text-place {
    padding-top: 20vh;

    h1 {
      font-family: 'Berkshire Swash', cursive;
      color: #ff452a;
      font-size: 45px;
    }

    a {
      font-family: 'Berkshire Swash', cursive;
      color: #ff452a;
      text-decoration: none;
      font-size: 40px;
      &:hover{
        color: #fffb46;
        letter-spacing: 0.1em;
      }
    }
  }
}